<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <title>Socket</title>
</head>

<body>
    <script>
        var socket = io();

        socket.on("connect", () => {
            console.log("connect");
            socket.emit("send-info", {
                id: Math.random(),
                username: "trhung1710",
                levels: 0,
                hasMatch: false
            });
        });
        
        socket.on("receive-info", () => {
            console.log("Receive-info");
            socket.emit("find-match", "");
        });

        socket.on("match", (room) => {
            socket.emit("join-match", room);
        });

    </script>
</body>

</html>